# Entorno virtual
venv/
env/

# Variables de entorno y secrets
.env
*.env
secrets.py

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
db.sqlite3
media/

# IDE
.vscode/
.idea/

# AWS
*.pem
*.key
